<!doctype html>
<html ng-app="testApp">
  <head>
    <meta charset="utf-8" />
    <title> Test Cialfo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body class="container" ng-controller="testController">
    <div id="container">
      <header><h1>Test Scores</h1></header>
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group class="sat-form" ng-repeat="exam in examList" heading="{{ exam.name }}">

          <form ng-repeat="sat in exam.exam" novalidate>
            <div class="form-group col-md-6">

                <label class="col-md-12">Test Date <small>(If you haven't taken SAT, add upcoming date)</small></label>
              <div class="col-md-6">
                <select for="Month" class="form-control col-md-6">
                  <option ng-repeat="month in months" value="{{month}}" ng-model="sat.month">{{ month }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <select for="Year" class="form-control col-md-6">
                  <option ng-repeat="year in years" value="{{year}}" ng-model="sat.year">{{ year }}</option>
                </select>
              </div>

            </div>
            <div class="form-group col-md-6">
              <label>Test Score</label>
              <p>{{ sat.testScore }}</p>
            </div>


            <div class="form-group col-md-12">
              <div class="col-md-4">
                <label>Reading</label>
                <input class="form-control" type="number" ng-change="updateTestScore(sat)" ng-model="sat.reading"/>
              </div>
              <div class="col-md-4">
                <label>Writing</label>
                <input class="form-control" type="number" ng-change="updateTestScore(sat)" ng-model="sat.writing"/>
              </div>
              <div class="col-md-4">
                <label>Maths</label>
                <input class="form-control" type="number" ng-change="updateTestScore(sat)" ng-model="sat.maths">
              </div>
            </div>
            <span class="glyphicon glyphicon-remove" ng-click="removeTest($index, exam.exam )"></span>
          </form>
          <div  class="pull-left">
            <button class="btn btn-primary" ng-click="addTest(exam.exam)">Add another {{ exam.name }}</button>
          </div>

        </uib-accordion-group>
      </uib-accordion>
    </div>
    
    <!-- bower:js -->
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/angular-resource/angular-resource.js"></script>
    <script src="libs/angular-animate/angular-animate.js"></script>
    <script src="libs/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <script src="/libs/ui-bootstrap-tpls-0.14.2.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/services/main.service.js"></script>
    <script src="/js/controllers/main.controller.js"></script>

  </body>
</html>
